@use '../../styles/variables.scss' as *;
.home {
  max-width: 1200px;
  //
  min-height: calc(100vh - 200px);
  //
  padding: 10px;
  margin: 0 auto;

  h1 {
    text-align: center;
    margin: 0 0 30px 0;
    font-size: 32px;
    font-weight: 700;
    color: $brown-grey;
  }

  .search-bar {
    margin-bottom: 20px;

    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      font-size: 20px;
      font-family: $font-lato;
      font-weight: 900;
      border: 1px solid $light-grey;
      border-radius: 4px;

      &:hover {
        background-color: $light-grey;
        border: 2px solid $lilac;
      }

      &:focus {
        outline: none;
        border-color: $lilac;
        box-shadow: 0 0 0 1px $deep-blue;
      }
    }
  }

  .categories {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;

    button {
      padding: 10px 15px;
      border-radius: 20px;
      cursor: pointer;
      font-size: 15px;
      font-family: $font-lato;
      font-weight: 900;
      border: 1px solid $light-grey;
      background: $white;
      @include transition-all;

      &:hover {
        background: $white;
        border-color: $lilac;
      }

      &.active {
        color: $white;
        background: $lilac;
        border-color: $lilac;
      }
    }
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px;

    .product-card {
      position: relative;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid $light-grey;
      background: $white;
      box-shadow: 0 2px 4px $black;
      transition: all 0.3s ease;

      &:hover {
        box-shadow: 0 4px 12px $black;
        border-color: $lilac;
        transform: translateY(-5px);
      }

      .product-image {
        position: relative;
        width: 100%;
        height: 210px;
        margin-bottom: 12px;
        overflow: hidden;
        border-radius: 6px;

        img {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
          @include transition-all;
        }

        .favorite-btn {
          position: absolute;
          top: 10px;
          right: 10px;
          @include flex-2center;
          width: 50px;
          height: 50px;
          font-size: 30px;
          cursor: pointer;
          border-radius: 50%;
          border: none;
          background: $white;
          backdrop-filter: blur(5px);
          @include transition-all;

          &:hover {
            background: $white;
            transform: scale(1.1);
          }

          &.favorite {
            color: $red;
          }
        }
      }

      &:hover .product-image img {
        transform: scale(1.05);
      }

      .product-info {
        h3 {
          margin: 0 0 5px 0;
          color: $brown-grey;
          font-size: 20px;
          font-weight: 600;
        }

        .product-description {
          margin: 0 0 5px 0;
          color: $deep-gray;
          font-size: 16px;
          line-height: 1.4;
          overflow: hidden;
        }

        .product-price {
          margin: 5px 0;
          color: $deep-gray;
          font-size: 20px;
          font-weight: bold;
          font-weight: 600;
        }

        .product-actions {
          @include flex-center;
          justify-content: space-between;
          margin-top: 15px;
          gap: 5px;
          font-family: $font-lato;
          font-weight: 900;

          a {
            display: inline-block;
            flex: 1;
            padding: 8px 10px;
            color: $lilac;
            text-decoration: none;
            font-size: 15px;
            text-align: center;
            border-radius: 4px;
            border: 2px solid $lilac;
            @include transition-all;

            &:hover {
              color: $white;
              background: $lilac;
              @include transform-tr-1;
            }
          }

          .add-card {
            padding: 8px 10px;
            color: $white;
            font-size: 15px;
            border-radius: 4px;
            cursor: pointer;
            flex: 1;
            border: 2px solid $light-blue;
            background: $light-blue;
            @include transition-all;

            &:hover {
              color: $light-blue;
              background: $white;
              border: 2px solid $light-blue;
              @include transform-tr-1;
            }
          }
        }
      }
    }
  }
}

.no-results,
.loading {
  text-align: center;
  padding: 60px 20px;
  color: $deep-gray;
  grid-column: 1 / -1;

  p {
    font-size: 18px;
    margin: 0 0 20px 0;
  }
}

