@use '../../styles/variables.scss' as *;

.favorites-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;

  h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: $brown-grey;
  }

  .favorites-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 1.5rem;

    .favorite-item {
      padding: 10px;
      overflow: hidden;
      border-radius: 8px;
      border: 1px solid $light-grey;
      background: $white;
      box-shadow: 0 2px 8px $black;
      @include transition-all;

      &:hover {
        border-color: $blue;
        box-shadow: 0 8px 25px $black;
        transform: translateY(-5px);
      }

      &:hover .item-image img {
        transform: scale(1.05);
      }

      .item-image {
        position: relative;
        width: 100%;
        height: 210px;
        margin-bottom: 12px;
        overflow: hidden;
        border-radius: 6px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          transition: transform 0.3s ease;
        }

        .remove-btn {
          position: absolute;
          top: 10px;
          right: 10px;
          @include flex-2center;
          width: 80px;
          height: 50px;
          font-weight: bold;
          font-size: 10px;
          border-radius: 30%;
          background: $white;
          border: 2px solid $lilac;
          cursor: pointer;
          backdrop-filter: blur(5px);
          @include transition-all;
          
          &:hover {
            color: $white;
            border: 2px solid $lilac;
            background: $lilac;
            transform: scale(1.1);
          }

          .material-icons {
            font-size: 17px;
          }
        }
      }

      .item-info {
        padding: 25px;

        h3 {
          color: $brown-grey;
          margin: 0 0 5px 0;
          font-size: 20px;
          font-weight: 600;
        }

        .description {
          margin: 0 0 5px 0;
          color: $brown-grey;
          font-size: 15px;
          line-height: 1.4;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .price {
          color: $deep-gray;
          margin: 5px 0;
          font-size: 20px;
          font-weight: 600;
        }

        .item-actions {
          display: flex;
          gap: 10px;
          margin-top: 15px;

          a {
            padding: 4px 8px;
            // padding-top: 10px;
            flex: 1;
            font-size: 15px;
            font-weight: 600;
            text-align: center;
            color: $black;
            text-decoration: none;
            border: 1px solid $lilac;
            border-radius: 4px;
            @include transition-all;

            &:hover {
              color: $white;
              background: $lilac;
            }
          }

          .view-details {
            padding: 20px;
            font-weight: 600;
            text-align: center;
            color: $lilac;
            font-size: 15px;
            border-radius: 6px;
            border: 2px solid $lilac;
            cursor: pointer;
            @include transition-all;

            &:hover {
              color: $white;
              background: $lilac;
              transform: translateY(-1px);
            }
          }

          .add-to-cart {
            flex: 1;
            padding: 4px 8px;
            color: $white;
            font-weight: 600;
            font-size: 15px;
            border-radius: 6px;
            border: 2px solid $light-blue;
            background: $light-blue;
            cursor: pointer;
            @include transition-all;

            &:hover {
              border: 2px solid $light-blue;
              background: $light-blue;
              @include transform-tr-1;
            }
          }
        }
      }
    }
  }

  .empty-state {
    @include flex-column;
    align-items: center;
    padding: 50px;
    margin: 50px;

    h3 {
      margin-bottom: 10px;
      font-size: 25px;
      font-weight: 600;
      color: $brown-grey;
    }

    .empty-state p {
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 1.5;
    }

    .browse-btn {
      display: inline-block;
      margin-top: 15px;
      padding: 20px 50px;
      color: $white;
      text-decoration: none;
      font-weight: 600;
      font-size: 20px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      background: $lilac;
      @include transition-all;

      .browse-btn:hover {
        background: $lilac;
        box-shadow: 0 4px 12px $lilac;
        @include transform-tr-2;
      }
    }
  }
}
